NET "rr<0>" LOC = P114 | IOSTANDARD = LVCMOS33 ;
NET "rr<1>" LOC = P116 | IOSTANDARD = LVCMOS33 ;
NET "rr<2>" LOC = P118 | IOSTANDARD = LVCMOS33;
NET "rr<3>" LOC = P120 | IOSTANDARD = LVCMOS33 ;
NET "rr<4>" LOC = P79 | IOSTANDARD = LVCMOS33 ;
NET "rr<5>" LOC = P75 | IOSTANDARD = LVCMOS33;
NET "rr<6>" LOC = P67 | IOSTANDARD = LVCMOS33;
NET "rr<7>" LOC = P58 | IOSTANDARD = LVCMOS33 ;


NET "r<4>" LOC = P51 | IOSTANDARD = LVCMOS33 ;
NET "c<3>" LOC = P41 | IOSTANDARD = LVCMOS33 ;
NET "r<5>" LOC = P35 | IOSTANDARD = LVCMOS33;
NET "c<2>" LOC = P33 | IOSTANDARD = LVCMOS33 ;
NET "r<6>" LOC = P30 | IOSTANDARD = LVCMOS33 ;
NET "c<1>" LOC = P27 | IOSTANDARD = LVCMOS33;
NET "r<7>" LOC = P24 | IOSTANDARD = LVCMOS33;
NET "c<0>" LOC = P22 | IOSTANDARD = LVCMOS33 ;


NET "r<0>" LOC = P14 | IOSTANDARD = LVCMOS33 ;
NET "c<7>" LOC = P11 | IOSTANDARD = LVCMOS33 ;
NET "r<1>" LOC = P127 | IOSTANDARD = LVCMOS33 ;
NET "c<6>" LOC = P126 | IOSTANDARD = LVCMOS33  ;
NET "r<2>" LOC = P124 | IOSTANDARD = LVCMOS33 ;
NET "c<5>" LOC = P123 | IOSTANDARD = LVCMOS33 ;
NET "r<3>" LOC = P132 | IOSTANDARD = LVCMOS33 ;
NET "c<4>" LOC = P131 | IOSTANDARD = LVCMOS33;

